*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


:root {
  --color-green-dark: #185934;
  --color-green-normal: #0FA650;
  --color-green-light: #05F26C;
  --color-blue-light: #05D9F2;
  --color-white: #fff;
  --color-black: #0d0d0d;

  --size12: 0.75rem;
  --size14: 0.875rem;
  --size16: 1rem;
  --size18: 1.125rem;
  --size20: 1.25rem;
  --size24: 1.5rem;
  --size28: 1.75rem;
  --size32: 2rem;
  --size36: 2.25rem;
  --size40: 2.5rem;
  --size44: 2.75rem;
  --size48: 3rem;
  --size52: 3.25rem;
  --size56: 3.5rem;
  --size60: 3.75rem;
  --size64: 4rem;
  --size68: 4.25rem;
  --size72: 4.5rem
}


.body{
  background-color: var(--color-black);
}
